<main class="pt-2 max-w-screen-xl mx-auto px-2 mb-6">
  <div class="w-full flex bg-white py-3 px-5 items-center rounded shadow mb-3">
    <p-breadcrumb [model]="breaditems" [home]="home" />
  </div>
  <p-table #table [columns]="cols" [value]="datas" class="w-full" stripedRows="true" showGridlines="true"
    scrollable="true" [selectionMode]="aclMenublob.includes('up') ? 'single' : null" [(selection)]="selectedData"
    (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="rows" [tableStyle]="{ 'min-width': '60rem' }"
    [rowsPerPageOptions]="[50, 100]">
    <ng-template #caption>
      <div class="flex flex-col gap-2">
        <!-- Baris atas: Title dan Add Button -->
        <div class="flex items-center justify-between">
          <span class="text-lg font-semibold">Records</span>
          <p-button *ngIf="aclMenublob?.includes('cr')" icon="pi pi-add" (onClick)="_addData()" label="Add Company"
            variant="outlined" />
        </div>
        <!-- Input Search -->
        <p-inputgroup class="w-full">
          <input pInputText #search placeholder="Keyword" class="w-full" [(ngModel)]="globalFilter"
            (input)="onGlobalSearch()" />
          <p-inputgroup-addon>
            <p-button icon="pi pi-search" severity="secondary" variant="text" />
          </p-inputgroup-addon>
        </p-inputgroup>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th [pSortableColumn]="col.field" *ngFor="let col of columns"
          [ngStyle]="{ 'text-align': col.class === 'text-center' ? 'center' : (col.class === 'text-end' ? 'right' : 'left') }">
          {{ col.header }}<p-sortIcon field="col.field" />
        </th>
        <th>Action</th>
        <!-- <th style="text-align: center;">Action</th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData">
        <!-- Nomor baris -->
        <td>{{rowData.companyCode}}</td>
        <td>{{rowData.companyName}}</td>
        <td class="w-16 text-center">
          @if(aclMenublob.includes('dl')) {
          <p-button pTooltip="Delete data" tooltipPosition="top" icon="pi pi-trash" [rounded]="true" [text]="true"
            (onClick)="_delData(rowData)" severity="danger" />
          }
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div *ngIf="showDetailForm.show" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="relative bg-white p-6 rounded-sm w-full max-w-3xl space-y-4">
      <!-- Tombol Close -->
      <!-- Tombol Close -->
      <!-- <button type="button" (click)="showDetailForm.show = false"
        class="absolute top-2 right-2 text-gray-400 hover:text-gray-700 transition-colors outline-none bg-white focus:outline-none">
        <i class="pi pi-times text-xl"></i>
      </button> -->
      <p-button icon="pi pi-times" class="absolute top-2 right-2" (onClick)="showDetailForm.show = false" [rounded]="true" [text]="true" severity="danger" />

      <!-- Konten -->
      <div>
        <ng-container *ngFor="let key of objectKeys(selectedData)">
          <!-- Row card -->
          <div class="flex flex-col sm:flex-row border border-gray-100 border-solid overflow-hidden">
            <!-- Label -->
            <div
  class="sm:w-1/3 bg-gray-50 text-right font-medium text-gray-700 px-4 py-2.5 flex justify-between items-start border-r border-gray-100"
>
  <span class="flex-1 text-right pr-1 capitalize text-md">{{ formatLabel(key) }}</span>
  <span class="text-gray-400">:</span>
</div>

            <!-- Value -->
            <div class="sm:w-2/3 px-4 py-2.5 text-gray-800 text-md bg-white">
              <!-- Array -->
              <ng-container *ngIf="isArray(selectedData[key]); else notArray">
                <div *ngIf="isPrimitiveArray(selectedData[key]); else complexArray">
                  {{ selectedData[key].join(', ') }}
                </div>

                <!-- Complex array -->
                <ng-template #complexArray>
                  <div *ngFor="let obj of selectedData[key]"
                    class="border border-gray-100 border-solid rounded-sm p-2 mb-1 bg-white">
                    <div *ngFor="let innerKey of objectKeys(obj)" class="text-md text-gray-700">
                      <span class="font-semibold">{{ formatLabel(innerKey) }}:</span>
                      <span class="ml-1">{{ obj[innerKey] }}</span>
                    </div>
                  </div>
                </ng-template>
              </ng-container>

              <!-- Non-array -->
              <ng-template #notArray>
                <ng-container *ngIf="isObject(selectedData[key]); else primitiveValue">
                  <div *ngFor="let innerKey of objectKeys(selectedData[key])"
                    class="border border-gray-200 border-solid rounded-sm p-1 mb-1 bg-white">
                    <span class="font-semibold">{{ formatLabel(innerKey) }}:</span>
                    <span class="ml-1">{{ selectedData[key][innerKey] }}</span>
                  </div>
                </ng-container>

                <ng-template #primitiveValue>
                  {{ selectedData[key] || '-' }}
                </ng-template>
              </ng-template>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>






  <div *ngIf="loading"
    class="absolute inset-0 flex items-center justify-center rounded-md z-50 bg-[rgba(255,255,255,0.5)]">
    <div role="status">
      <svg aria-hidden="true" class="inline w-24 h-24 text-gray-200 animate-spin dark:text-gray-600 fill-red-600"
        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor" />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill" />
      </svg>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</main>
