/************************* For Foblex *********************************/

/* ====== Warna dasar elemen ====== */
.f-flow {
  --background-element-color: rgba(0, 0, 0, 0.1);
  --selection-area-color: rgba(100, 108, 255, 0.14);
  --disabled-color: #e2e2e2;
  --node-background-color: #ffffff;
  --node-background-color-inverse: #000000;
  --node-border-radius: 2px;
  --node-border-color: rgba(60, 60, 67, 0.36);
  --node-selected-border-color: #3451b2;
  --node-color: rgba(60, 60, 67, 0.78);
  --node-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --connection-color: rgba(60, 60, 67, 0.78);
  --snap-connection-color: rgba(60, 60, 67, 0.38);
  --connection-gradient-1: #b8272c;
  --connection-gradient-2: #30a46c;
  --outlet-color: #3451b2;
  --input-output-color: rgba(60, 60, 67, 0.78);
  --minimap-background-color: #ffffff;
  --minimap-node-color: rgba(60, 60, 67);
  --minimap-node-selected-color: #3451b2;
  --minimap-view-color: rgba(100, 108, 255, 0.14);
  --form-field-text-color: var(--node-color);
  --form-field-background: var(--minimap-view-color);
  --form-field-panel-shadow: var(--node-shadow);
  --form-field-panel-background: var(--node-background-color);
  --form-field-active-color: var(--minimap-node-selected-color);
   position: relative;
  display: flex;
  height: 550px;
  border-radius: 6px;
  background-color: #fafafa;
  border: 1px solid #e5e7eb;
}
.f-node {
  padding: 12px!important;
}
.f-flow {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

/* ====== Koneksi antar node ====== */


/* ====== Node utama ====== */
/* .f-node {
  width: 120px;
  padding: 24px;
  color: var(--node-color);
  text-align: center;
  background: var(--node-background-color);
  border-radius: var(--node-border-radius);
  border: 0.2px solid var(--node-border-color);
  cursor: move;
} */

.f-node:active {
  box-shadow: var(--node-shadow);
}

.f-node .node-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* ====== Connector (input/output) ====== */
.f-node-input:not(.f-node),
.f-node-output:not(.f-node) {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 0.2px solid var(--node-border-color);
  background-color: var(--node-background-color);
}

.f-node-input:not(.f-node).f-node-output-not-connectable,
.f-node-input:not(.f-node).f-node-input-not-connectable,
.f-node-output:not(.f-node).f-node-output-not-connectable,
.f-node-output:not(.f-node).f-node-input-not-connectable {
  background-color: var(--disabled-color);
}

/* ====== Posisi connector ====== */
.f-node-input.left,
.f-node-output.left {
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
}

.f-node-input.right,
.f-node-output.right {
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
}

.f-node-input.top,
.f-node-output.top {
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.f-node-input.top-left,
.f-node-output.top-left {
  top: -8px;
  left: -8px;
}

.f-node-input.top-right,
.f-node-output.top-right {
  top: -8px;
  right: -8px;
}

.f-node-input.bottom,
.f-node-output.bottom {
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.f-node-input.bottom-left,
.f-node-output.bottom-left {
  bottom: -8px;
  left: -8px;
}

.f-node-input.bottom-right,
.f-node-output.bottom-right {
  bottom: -8px;
  right: -8px;
}

/* ====== Toolbar contoh ====== */
.examples-toolbar {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  position: absolute;
  right: 16px;
  top: 16px;
}

.examples-toolbar button {
  font-weight: 500;
  border: none;
  border-radius: 2px;
  padding: 4px 8px;
  line-height: normal;
}

/* ====== Overlay ====== */
.overlay {
  overflow: auto;
  width: 260px;
  height: calc(100% - 20px);
  position: absolute;
  padding: 10px;
  right: 10px;
  top: 10px;
  font-size: 12px;
  border-radius: 4px;
  background-color: var(--node-background-color);
  box-shadow: var(--node-shadow);
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.external-panel {
  background-color: var(--node-background-color);
  width: 170px;
  border-radius: 4px;
  padding: 4px;
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.external-item, .external-item-placeholder, .external-item-preview {
  padding: 4px;
  min-height: 24px;
  background-color: var(--node-background-color);
  border: 1px solid var(--node-border-color);
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  user-select: none;
}

.external-item-placeholder {
  background-color: var(--disabled-color);
}

.external-item-preview {
  background-color: var(--node-background-color);
  border: 1px dashed var(--node-border-color);
}



.f-node {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 36px;
  padding: 4px 8px;
  border-radius: 8px;
}

.f-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  min-width: 28px;
  height: 28px;
}

.f-drag-handle-icon {
  cursor: grab;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.f-drag-handle-icon:hover {
  opacity: 1;
}

.input-port,
.output-port {
  width: 0px;
  height: 0px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: crosshair;
  transition: transform 0.1s ease, background-color 0.2s ease;
}
/* .input-port {
  left: -7px;
} */


.input-port:hover,
.output-port:hover {
  transform: translateY(-50%) scale(1.3);
  background-color: #ffd700;
  border-color: #aaa;
}



/* .output-port {
  right: -7px;
} */


