<main class="pt-2 max-w-screen-xl mx-auto px-2 mb-2">
  <!-- Breadcrumb -->
  <div class="w-full flex bg-white py-2 px-5 items-center rounded shadow mb-2">
    <p-breadcrumb [model]="breaditems" [home]="home" />
  </div>
  <!-- Konten utama -->
  <div class="flex h-[60vh] gap-2">
    <!-- Canvas kanan -->
    @if (isReady) {
    <f-flow fDraggable class="f-flow" (fLoaded)="onLoaded()">
      <button class="absolute top-2 right-2 z-50 p-2 bg-white rounded shadow" (click)="printCanvas()">
        <i class="pi pi-print text-xl"></i>
      </button>

      <f-canvas fZoom="true">

        <!-- <f-connection draggable="false" fOutputId="output1" fInputId="input1" fType="segment"></f-connection>
        <div fNode fDragHandle [fNodePosition]="{ x: 100, y: 40 }" fNodeOutput fOutputId="output1" fNodeOutlet>Node 1</div>
        <div fNode fDragHandle [fNodePosition]="{ x: 300, y: 70 }" fNodeInput fInputId="input1" fNodeOutlet>Node 2</div> -->
        @for (conn of connections; track conn.outputId + '->' + conn.inputId) {
        <!-- <f-connection draggable="false" fOutputId="output1" fInputId="input1" fType="segment"></f-connection> -->
        <f-connection [fOutputId]="conn.outputId" [fInputId]="conn.inputId" [fReassignDisabled]="true" fType="straight">
        </f-connection>
        }
        @for (node of nodes(); track node.id) {
        <div fNode fDragHandle [attr.id]="'f-node-' + node.id" [fNodePosition]="node.position"
          class="relative cursor-pointer !rounded-md whitespace-nowrap px-3 py-2 flex items-center justify-center"
          [ngStyle]="{
    'background-color':
      node.type === 'Start' ? '#ffffff' :
      node.type === 'Business Task' ? '#d1d5db' :
      node.type === 'End' ? '#000000' : '#999',
    'color':
      node.type === 'End' ? '#ffffff' : '#000000',
    'border':
      node.type === 'Start' || node.type === 'End'
        ? '1px solid #000'
        : '1px solid #6b7280'
  }"
  (click)="nodeClicked(node, $event)"
  (dblclick)="openEditDialog(node)"

  >

          <!-- Input connector (selalu kiri tengah) -->
          @if (node.type === 'Business Task' || node.type === 'End') {
          <div fNodeInput [fInputId]="'in' + node.id" fNodeOutlet class="absolute top-1/2 -translate-y-1/2">
          </div>
          }

          <!-- Konten node -->
          <div class="flex items-center gap-2 px-2">
            <span fDragHandle class="f-icon f-drag-handle-icon">
              <div class="text-sm opacity-70 leading-none select-none"
                [ngStyle]="{'color': node.type === 'End' ? '#ffffff' : '#000000'}">⋮⋮</div>
            </span>

            <span class="text-sm">{{ node.text }}</span>
          </div>

          <!-- Output connector (selalu kanan tengah) -->
          @if (node.type === 'Start' || node.type === 'Business Task') {
          <div fNodeOutput [fOutputId]="'out' + node.id" fNodeOutlet class="absolute top-1/2 -translate-y-1/2">
          </div>
          }
        </div>

        }
      </f-canvas>
      <p-dialog [(visible)]="editDialogVisible" [modal]="true" header="Node Detail" [style]="{ width: '450px' }">

    <div class="p-fluid space-y-4">

    <!-- Label -->
    <div>
            <div class="mt-1 text-base font-semibold text-gray-900">
              {{ editNodeText }}
            </div>
          </div>
    <!-- Description -->
    <div>
            <div class="mt-1 text-base border rounded bg-gray-50" [innerHTML]="editNodeDescription">
            </div>
          </div>

        </div>

        <ng-template pTemplate="footer">
          <div class="flex justify-end">
            <button pButton label="OK" icon="pi pi-check" (click)="editDialogVisible = false"></button>
          </div>
        </ng-template>

      </p-dialog>
    </f-flow>
    <!-- <f-canvas> -->
    <!-- Foblex: aktifkan fitur drag-to-connect -->
    <!-- <f-connection-for-create *ngIf="isConnectionMode"></f-connection-for-create> -->
    <!-- Render semua koneksi -->
    <!-- @for (conn of connections; track conn.outputId + '->' + conn.inputId) {
        <f-connection
        [fOutputId]="conn.outputId"
        [fInputId]="conn.inputId" [fReassignDisabled]="true"
        fType="segment"

        >
        </f-connection>
        } -->
    <!-- Render semua node -->
    <!-- @for (node of nodes(); track node.id) { -->
    <!-- <div fNode [attr.id]="'f-node-' + node.id" [fNodePosition]="node.position" (click)="nodeClicked(node, $event)"
          (dblclick)="openEditDialog(node)"
          class="f-node cursor-pointer font-bold !rounded-md whitespace-nowrap px-2 py-1 flex items-center gap-2" [ngStyle]="{
          'background-color':
            node.type === 'Start' ? '#ffffff' :
            node.type === 'Business Task' ? '#d1d5db' :
            node.type === 'End' ? '#000000' :
            '#999',
          'color':
            node.type === 'Start' ? '#000000' :
            node.type === 'Business Task' ? '#000000' :
            node.type === 'End' ? '#ffffff' :
            '#ffffff',
          'border':
            node.type === 'Start' ? '1px solid #000' :
            node.type === 'End' ? '1px solid #000' :
            '1px solid #6b7280'
        }"> -->
    <!-- Kiri: Input port untuk Business Task & End -->
    <!-- @if (node.type === 'Business Task' || node.type === 'End') {
          <div fNodeInput [fInputId]="'in' + node.id" fInputConnectableSide="left" class="input-port"></div>
          } -->
    <!-- Ikon drag -->
    <!-- <span fDragHandle class="f-icon f-drag-handle-icon">
            <div class="text-lg opacity-70 leading-none select-none" [ngStyle]="{'color':node.type === 'End' ? '#ffffff' : '#000000'}">⋮⋮</div>
          </span> -->
    <!-- Label tengah -->
    <!-- <span class="flex-1 text-center" style="padding-right: 10px;">{{ node.text }}</span> -->
    <!-- Kanan: Output port untuk Start & Business Task -->
    <!-- @if (node.type === 'Start' || node.type === 'Business Task') {
          <div fNodeOutput [fOutputId]="'out' + node.id" fOutputConnectableSide="right" class="output-port"></div> -->
    <!-- } -->
    <!-- </div> -->


    <!-- }
      </f-canvas> -->
    <!-- Dialog edit node -->
    <!-- <p-dialog [(visible)]="editDialogVisible" [modal]="true" header="Node Detail" [style]="{ width: '450px' }"> -->

    <!-- <div class="p-fluid space-y-4"> -->

    <!-- Label -->
    <!-- <div>
            <div class="mt-1 text-base font-semibold text-gray-900">
              {{ editNodeText }}
            </div>
          </div> -->
    <!-- Description -->
    <!-- <div>
            <div class="mt-1 text-base border rounded bg-gray-50" [innerHTML]="editNodeDescription">
            </div>
          </div>

        </div>

        <ng-template pTemplate="footer">
          <div class="flex justify-end">
            <button pButton label="OK" icon="pi pi-check" (click)="editDialogVisible = false"></button>
          </div>
        </ng-template>

      </p-dialog> -->

    <!-- Palet kiri -->
    <!-- <div class="external-panel"> -->

    <!-- <button pButton label="back" icon="pi pi-back" class="p-button-sm w-full" (click)="toggleBack()" text="true">
        </button>
        <div class="border-t !border-solid border-gray-200 mt-2"></div> -->
    <!-- Tombol Connection Mode -->
    <!-- Tombol Save -->
    <!-- <button pButton label="Save Node" icon="pi pi-save" class="p-button-sm w-full"
          (click)="saveFlowToDatabase()"></button> -->
    <!-- </div> -->

    <!-- </f-flow> -->
    <!-- } @else {
    <div class="flex items-center justify-center w-full text-gray-500">
      🔄 Memuat canvas...
    </div> -->
    }
  </div>
</main>
