<main class="pt-2 max-w-screen-xl mx-auto px-2 mb-6">
  <div class="w-full flex bg-white py-3 px-5 items-center rounded shadow mb-3">
    <p-breadcrumb [model]="breaditems" [home]="home" />
  </div>
  <p-table #table [columns]="cols" [value]="menus" class="w-full" stripedRows="true" showGridlines="true"
    scrollable="true"
    [selectionMode]="aclMenublob.includes('up') ? 'single' : null"
    [(selection)]="selectedMenu" (onRowSelect)="onRowSelect($event)"
    [paginator]="true" [rows]="rows" [tableStyle]="{ 'min-width': '60rem' }" [rowsPerPageOptions]="[50, 100]">
    <ng-template #caption>
      <div class="flex flex-col gap-2">
        <!-- Baris atas: Title dan Add Button -->
        <div class="flex items-center justify-between">
          <span class="text-lg font-semibold">Menu has {{totalMenus}} Records</span>
          <p-button *ngIf="aclMenublob?.includes('cr')" icon="pi pi-add" (onClick)="_addMenu()" label="Add Menu" variant="outlined" />
        </div>
        <!-- Input Search -->
        <p-inputgroup class="w-full">
          <input pInputText #search placeholder="Keyword" class="w-full" [(ngModel)]="globalFilter"
            (input)="onGlobalSearch()" />
          <p-inputgroup-addon>
            <p-button icon="pi pi-search" severity="secondary" variant="text" />
          </p-inputgroup-addon>
        </p-inputgroup>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th [pSortableColumn]="col.field" *ngFor="let col of columns"
          [ngStyle]="{ 'text-align': col.class === 'text-center' ? 'center' : (col.class === 'text-end' ? 'right' : 'left') }">
          {{ col.header }}<p-sortIcon field="col.field" />
        </th>
        <th>Act</th>
        <!-- <th style="text-align: center;">Action</th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData">
        <!-- Nomor baris -->
        <td class="w-16 text-center">
          <div class="flex justify-center">
            {{ rowData.idMenu }}
          </div>
        </td>
        <td>{{rowData.nameMenu}}</td>
        <td>{{rowData.pathMenu}}</td>
        <td class="!w-48">
          <i [class]="rowData.iconMenu" class="mr-2"></i>
          {{rowData.iconMenu}}
        </td>
        <td class="!w-48 text-center">{{rowData.created_at}}</td>
        <td class="!w-48 text-center">{{rowData.updated_at}}</td>
        <td class="w-16 text-center">
          @if(rowData.idMenu > 1 && aclMenublob.includes('dl')) {
            <p-button pTooltip="Delete data" tooltipPosition="top" icon="pi pi-trash" [rounded]="true" [text]="true" (onClick)="_delMenu(rowData)" severity="danger" />
          }
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div *ngIf="showDetailForm.show" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <form [formGroup]="menuForm" (ngSubmit)="onSubmit()"
      class="bg-white p-6 rounded-lg shadow-lg w-full max-w-xl space-y-4">
      <div [hidden]="!errorMessage.error" class="mb-2">
        <p-message [severity]="errorMessage.severity" [text]="errorMessage.message" [icon]="errorMessage.icon"
          styleClass="p-message p-component block">
        </p-message>
      </div>
      <!-- Header / Title -->
      <div class="border-b pb-3 mb-2">
        <h2 class="text-xl font-semibold text-gray-800 m-0 p-0">{{showDetailForm.action | titlecase}} Menu Detail</h2>
      </div>

      <div class="flex flex-col mb-2">
        <label for="nameMenu" class="mb-2 font-medium label-required">Name</label>
        <input type="text" class="w-full" pInputText formControlName="nameMenu" id="nameMenu"
          (change)="_changeError()" />
      </div>

      <div class="flex flex-col mb-2">
        <label for="pathMenu" class="mb-2 font-medium">URL Link</label>
        <input type="text" class="w-full" pInputText formControlName="pathMenu" id="pathMenu"
          (change)="_changeError()" />
      </div>
      <div class="flex flex-col mb-2">
        <label for="iconMenu" class="mb-2 font-medium">Icon css class <i>(Optional)</i></label>
        <!-- <input type="text" class="w-full" pInputText formControlName="iconMenu" id="iconMenu" /> -->
        <p-select [options]="allicons" formControlName="iconMenuObj" optionLabel="description" placeholder="Select an Icon"
          class="w-full" styleClass="w-full">
          <!-- Template item di dropdown -->
          <ng-template let-icon pTemplate="item">
            <i [class]="icon.code" class="mr-2"></i>
            {{ icon.description }}
          </ng-template>
          <!-- Template selected value -->
          <ng-template let-icon pTemplate="selectedItem">
            <i *ngIf="icon" [class]="icon.code" class="mr-2"></i>
            {{ icon?.description }}
          </ng-template>
        </p-select>
      </div>
      <!-- Buttons -->
      <div class="flex justify-end gap-4 pt-4">
        <button pButton type="button" (click)="onCancel()" class="px-6" severity="secondary" label="Cancel"
          (click)="showDetailForm.show=false"></button>
        <button pButton type="submit" class="px-6" [disabled]="!menuForm.valid" label="Save"></button>
      </div>
    </form>
  </div>
  <div *ngIf="showDetailDelete" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-xl space-y-4">
      <p>Apakah ingin menghapus data ini?</p>
      <div class="flex justify-end gap-4 pt-4">
        <button pButton type="button" (click)="onCancelDelete()" class="px-6" severity="secondary" label="Cancel"
          (click)="showDetailForm.show=false"></button>
        <button pButton type="button" (click)="onOkDelete()" class="px-6" label="Delete"></button>
      </div>
    </div>
  </div>
  <div *ngIf="loading"
    class="absolute inset-0 flex items-center justify-center rounded-md z-50 bg-[rgba(255,255,255,0.5)]">
    <div role="status">
      <svg aria-hidden="true" class="inline w-24 h-24 text-gray-200 animate-spin dark:text-gray-600 fill-red-600"
        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor" />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill" />
      </svg>
      <span class="sr-only">Loading...</span>
    </div>
  </div>


</main>
