<div class="w-full">
  <ul class="flex flex-col">
    <ng-container *ngFor="let item of data">
      <li class="border-b border-gray-100 dark:border-gray-700">
        <!-- MENU HEADER -->
        <div
          class="flex items-center justify-between cursor-pointer px-3 py-2 rounded-md hover:bg-red-100 dark:hover:bg-red-300 transition-colors"
          (click)="onItemClick(item)"
        >
          <div class="flex items-center space-x-2">
            <i
              *ngIf="item.icon"
              class="text-white dark:text-white"
              [ngClass]="item.icon"
            ></i>
            <span class="font-medium text-white dark:text-white">
              {{ item.label }}
            </span>
          </div>

          <!-- Chevron kanan / bawah -->
          <i
            *ngIf="item.items?.length"
            class="pi text-white dark:text-white"
            [ngClass]="{
              'pi-chevron-down': isExpanded(item),
              'pi-chevron-right': !isExpanded(item)
            }"
          ></i>
        </div>

        <!-- CHILDREN -->
        <div
          *ngIf="item.items && isExpanded(item)"
          class="ml-4 border-l border-gray-200 dark:border-gray-700 pl-3 mt-1"
        >
          <app-custom-panel-menu [data]="item.items || []"></app-custom-panel-menu>
        </div>
      </li>
    </ng-container>
  </ul>
</div>
